{% extends 'Common/CommonMaster.html' %}

{% block content%}

<form method="POST" action="{% url 'e_nursery:login' %}" class="reg-form" style="background-color: white;margin-left: 200px;margin-right: 200px;">
    {% csrf_token %}
    <p  class="text-danger">{{msg}}</p>
<table class="tb">
    <tr>
        <td>
            {{form.login_id.label}}
        </td>
        <td>
            {{form.login_id}}
        </td>
        <tr>
            <td>
                {{form.login_passwd.label}}
            </td>
            <td>
                {{form.login_passwd}}
            </td>
    </tr>
</table>

<input type="submit" value="Login" class="btn btn-primary" style="margin-left: 60px;"/>
</form>
{% endblock %}