{% extends 'Customer/CustomerMaster.html' %}

{% block content%}

<form method="Post" action="{% url 'e_nursery:g_ideas' %}" style="background-color: white;margin-left: 290px;" enctype="multipart/form-data" >
    {% csrf_token %}
    {% if success_msg %}
    <p class="h5 text-success" style="margin-left: 20px;margin-right: 20px;margin-bottom:20px;font-weight:bold">{{success_msg}}</p>
    {% endif %}
    
    <table class="tb">
        
    
        <tr>
            <td>{{form.plot_pic.label}}</td>
            <td>{{form.plot_pic}}</td>
        </tr>
        <tr>
            <td>{{form.requirements.label}}</td>
            <td>{{form.requirements}}</td>
        </tr>
       
        <tr>
            <td>{{form.exp_date.label}}</td>
            <td>{{form.exp_date}}</td>
        </tr>
        <tr>
            <td>{{form.budget.label}}</td>
            <td>{{form.budget}}</td>
        </tr>
        
        <tr>
            <td></td>
            <td><input type="submit" value="Add" class="btn btn-primary"></td>
        </tr>
    </table>

   </form>


{% endblock %}