{% extends 'Customer/CustomerMaster.html' %}

{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="min-height: 500px;">
    {% if orders %}
    <table class="table table-striped " style="margin-top: 20px;">
        <tr >
           <th>Order No</th>
          
          <th>Order Date</th>
          <th>Name</th>
          <th>Qty</th>
          <th>Total</th>
          <th>Delivery/Cancel Date</th>
          <th>Status</th>
          <th></th>
        
           
          
          
           <!-- <td>Shipping Address</td> -->
           
        </tr>
        {% for product in orders %}
        <tr style="font-size: medium;">
           <td>{{product.order_no}}</td>
           <td>{{product.order_date}}</td> 
           {% if product.sell_type == 'e_nursery' %}
           <td>{{product.nursery_product.p_name|title}}</td>
           {% else %} 
           <td>{{product.craft_product.cr_name|title}}</td>
           {% endif %}
           
           
            <td>{{product.qty}} {% if product.qty > 1 %} Nos {% else %} No {% endif %}</td>  
            <td>Rs {{product.total}} </td> 
            <td>{{product.exp_delivery}}</td> 
            <td>{{product.order_status|title}}</td>   
           {% if product.order_status == 'delivered' and product.exp_delivery == date %}
            <td><a style="color: blue;font-size: medium;" href="{% url 'e_nursery:hst_detail' product.order_no %}">Return Product</a></td>
            {% endif %}
        
         <!-- <td style=" word-wrap: break-word; height: 100px;;">{{product.shipping_address}}</td> -->
           
            <!-- <td style="word-wrap: break-word;white-space: normal; width: 100px;"><span>{{product.shipping_address}}</span></td>
            <td>{{product.qty}}</td>
            <td>Rs.{{product.total}}</td>
            <td><a href="" style="color: blue;">Packed</a></td>
            <td><a href="" style="color: blue;">Delivered</a></td>
            <td><input type="hidden" value="{{product.prod_id.p_id}}"></td>
        </tr> -->
        {% endfor %}
    </table>
    <nav aria-label="Page navigation example" class="nav-p">
        <ul class="pagination">
            <li class="page-item">
                {% if orders.has_previous %}
                <a class="page-link" href="?page={{orders.previous_page_number}}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
                {% endif %}
            </li>
            {% for p in orders.paginator.page_range %}
            <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
            {% endfor %}
            <!-- <li class="page-item "> Page {{p}} of {{panchayath_list.paginator.page}}</li> -->
            <li class="page-item">
                {% if orders.has_next %}
                <a class="page-link" href="?page={{orders.next_page_number}}"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>


</div>
    {% else %}
    <p class="h3 text-danger" style="margin-top: 200px;margin-left: 290px;">No Data Found</p>
    {% endif %}

    

</body>
</html>
{% endblock %}