{% extends 'Customer/CustomerMaster.html' %}

{% block content%}






<form method="POST" action="{% url 'e_nursery:seller_stock' %}" enctype="multipart/form-data" style="margin-left: 240px; background-color: white;">
    {% csrf_token %}
   
    <table class="tb" style="border-spacing: 10px;border-collapse: separate;">
        <tr>
           <td>Product No</td>
           <td>
               <input type="text" readonly name="p_no" value="{{p_no}}" class="form-control">

           </td>
        </tr>
        <tr>
            <td>Current Stock</td>
            <td><input type="text" readonly name="stock" value="{{stock}}" class="form-control"></td>
        </tr>
        <tr>
            <td>New Stock</td>
            <td><input type="number" min=1 value="1" name="new_stock" required class="form-control"></td>
        </tr>
        <tr>
            <td>{{form.c_img.label}}</td>
            <td>{{form.c_img}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" class="btn btn-primary"></td>
        </tr>
    </table>

   </form>

{% endblock %}