{% extends 'Admin/AdminMaster.html' %}

{% block content%}

<form method="Post" action="{% url 'e_nursery:add_mod' %}" enctype="multipart/form-data" class="frm-pl">
    {% csrf_token %}
    {{msg}}
    <table class="tb">
        
        <tr>
            <td>{{form.mod_name.label}}</td>
            <td>{{form.mod_name}}</td>
        </tr>
        <tr>
            <td>{{form.mod_phno.label}}</td>
            <td>{{form.mod_phno}}</td>
        </tr>
        <tr>
            <td>{{form.mod_email.label}}</td>
            <td>{{form.mod_email}}</td>
        </tr>
        <tr>
            <td>{{form.mod_pic.label}}</td>
            <td>{{form.mod_pic}}</td>
        </tr>
        
        
       
        <tr>
            <td></td>
            <td><input type="submit" value="Add" class="btn btn-primary"></td>
        </tr>
    </table>

   </form>

{% endblock %}