{% extends 'Admin/AdminMaster.html' %}

{% block content%}

<div >

    {% if garre_list %}
   

<table class="table table-striped" >
    <tr align="center">
        <th>Customer Name</th>
        <th>Date</th>
        <th>Address</th>
        <th>Phone No</th>
        <th>Status</th>
        <th>Moderator</th>
<th>Reason</th>  
        <th></th>
       
    </tr>
    {% for list in garre_list %}
    <form action="{% url 'e_nursery:admin_grequest'  %}" method="POST">
        {% csrf_token %}
    <tr>
<td style="font-size: medium;">{{list.cust_id.cust_name|title}}</td>
<td style="font-size: medium;">{{list.date_posted}}</td>
<td style="font-size: medium; word-wrap: break-word;white-space: normal;">{{list.cust_id.cust_address|capfirst}}</td>
<td style="font-size: medium;">{{list.cust_id.cust_phno}}</td>
<td style="font-size: medium;">{{list.status|title}}</td>
<td style="font-size: medium;">{{list.mod_id.mod_name|title}}</td>
<td style="font-size: medium; word-wrap: break-word;white-space: normal;min-width: 120px">
{% if list.reject_reason == "" %} Nil {% else %} {{list.reject_reason|capfirst}}  {% endif %}</td>
<td>
    <input type="submit"  name="details" id="" value="details" class="btn btn-primary"> 
    {% ifnotequal list.status 'rejected' %}
    <input type="submit"  name="estimation" id="" value="Estimation" class="btn btn-warning">
  {% endifnotequal %}
<input type="hidden" name="req_id" value="{{list.req_id}}"></td>
    </tr>
</form>
    {% endfor %}
</table>
<nav aria-label="Page navigation example" class="nav-p">
    <ul class="pagination">
        <li class="page-item">
            {% if garre_list.has_previous %}
            <a class="page-link" href="?page={{garre_list.previous_page_number}}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            {% endif %}
        </li>
        {% for p in garre_list.paginator.page_range %}
        <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
        {% endfor %}
        <!-- <li class="page-item "> Page {{p}} of {{panchayath_list.paginator.page}}</li> -->
        <li class="page-item">
            {% if garre_list.has_next %}
            <a class="page-link" href="?page={{garre_list.next_page_number}}"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            {% endif %}
        </li>
    </ul>
</nav>

</div>
    {% else %}


    <p class="text-danger h4" style="margin-left: 250px; margin-top: 120px;">No Recent Request</p>

    {% endif %}

{% endblock %}