{% extends 'Admin/AdminMaster.html' %}

{% block content%}

<form action="{% url 'e_nursery:order_details'  order_data.order_no %}" method="POST">
{% csrf_token %}
<table style="margin-left: 200px;border-spacing: 20px;border-collapse: separate;">
    <tr>
        <th>Order No</th>
        <td><input class="form-control text-center" readonly type="text" value="{{order_data.order_no}}"></td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td><input class="form-control text-center" readonly type="text" value="{{order_data.cust_id.cust_name|title}}"></td>
    </tr>
    <tr>
        <td>Shipping Address</td>
        <td><textarea class="form-control text-center" readonly type="text" cols="5" rows=5 >{{order_data.shipping_address|capfirst}}</textarea></td>
    </tr>
    <tr>
        <td>Product Category</td>
        <td><input class="form-control text-center" readonly type="text" value="{{order_data.nursery_product.cat_id.c_name|title}}"></td>
    </tr>
    <tr>
        <td>Product Name</td>
        <td><input class="form-control text-center" readonly type="text" value="{{order_data.nursery_product.p_name|title}}"></td>
    </tr>
    <tr>
        <td>Order Date</td>
        <td><input class="form-control text-center" readonly type="text" value="{{order_data.order_date|title}}"></td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td><input class="form-control text-center" readonly type="text" value="{{order_data.qty}}"></td>
    </tr>
    <tr>
        <td>Total Amount</td>
        <td><input class="form-control text-center" readonly type="text" value="Rs.{{order_data.total}}"></td>
    </tr>
    <tr>
        
        
    </tr>
</table>
</form>  
{% endblock %}